* {
    box-sizing: border-box;

}

body {
    margin: 0;

}

img {

    max-width: 100%;
}

.imagenRedonda {
    border-radius: 50%;
}

.noDecoracion {
    list-style: none;

}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: rgb(77, 50, 7);
}






.fila-flex {

    display: flex;
    align-items: flex-start;
    margin: auto;



}

.columnas-12 {
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 10px;

}

.columnas-11 {
    flex-basis: 91.66%;
    flex-wrap: wrap;
    padding: 10px;

}


.columnas-10 {
    flex-basis: 83.33%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-9 {
    flex-basis: 75%;
    flex-wrap: wrap;
    margin: auto;

}

.columnas-8 {
    flex-basis: 66.66%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-7 {
    flex-basis: 58.33%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-6 {
    flex-basis: 50%;
    flex-wrap: wrap;
    margin: auto;
}

.columnas-5 {
    flex-basis: 41.66%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-4 {
    flex-basis: 33.33%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-3 {
    flex-basis: 25%;
    flex-wrap: wrap;


}

.columnas-2 {
    flex-basis: 16.66%;
    flex-wrap: wrap;
    padding: 10px;
}

.columnas-1 {
    flex-basis: 8.33%;
    flex-wrap: wrap;
    padding: 10px;
}

.posicion {
    position: sticky;
    top: 0px;
    padding: 0px 10px 0px 10px;


}

aside {
    display: flex;
    background: rgb(233, 204, 184);
    font-size: 1.7vh
}

.centrar {
    text-align: center;
}

.centrar div {
    margin: 20px;
}

.navegacion {
    margin: auto;
}

.navegacion li {

    margin: 30px;
}



.lista-flex {

    display: inline-flex;
    padding: 0px;


}

.lista-flex>li {
    margin: 20px;

}

.lista-flex>li:hover {
    color: blue;
}

.altoMinimo {
    min-height: 100vh;
}



.home {

    background-color: rgba(255, 255, 255, 0.431);
    position: absolute;
    top: 50vh;
    left: 40vw;
    font-size: 2em;
    padding: 20px;
    text-align: center;

}

.bgtrasparente {
    background: rgba(233, 204, 184, 0.52);
    ;
}